body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

html {
  scroll-behavior: smooth;
}

#mob-menu {
  position: fixed;
  top: 20;
  height: calc(100vh - 80px);
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #E8B4B8;
}

tr {
  border: 1px solid #E8B4B8;
}

tr:hover {
  background-color: #F4C2C2;
  cursor: pointer;
}
th, td {
  padding: .5rem 1rem;
  text-align: left;
  overflow-x: auto;
}